<div class="row py-5">
    <div class="col">
        <h1>Add User</h1>
        <form #addUserForm="ngForm" (ngSubmit)="saveUser(addUserForm)">
            <div class="form-group mt-3 has-validation">
                <label for="name">User Name</label>
                <input type="text" class="form-control" name="name" ngModel required>
                <div class="field-error text-danger" *ngIf="!addUserForm.controls['name']?.pristine && !addUserForm?.value?.name">
                    User name is required
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="age">Age</label>
                <input type="number" class="form-control" name="age" ngModel required>
            </div>
            <div class="form-group mt-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" ngModel required>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Save</button>
        </form>
    </div>
</div>

<!-- addUserForm?.value?.name = addUserForm && addUserForm.value && addUserForm.value.name ? addUserForm.value.name : null -->