
<div class="container">
    <app-add-users *ngIf="addUser" [user]="userToBeEdited" (onAddUser)="saveUser($event)"></app-add-users>
    <div class="row">
        <div class="col">
            <div class="users-list" *ngIf="!addUser">
                <h3>Users List</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- (user, i) in users :key="i" -->
                        <tr *ngFor="let user of users">
                            <!-- <td :class="'some class'">{{ user.name }}</td> -->
                            <td>{{ user.name }}</td>
                            <td>{{ user.age }}</td>
                            <td>{{ user.email }}</td>
                            <td><button (click)="editUser(user)">Edit</button> <button class="ml-3">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="addUser = true">Add New User</button>
    <a routerLink="/users" mat-raised-button color="primary" class="ms-5">Basic</a>
</div>